.btn {
  font-size: rem(19);
  line-height:rem(22);
  padding: rem(14) rem(52);
  font-weight:500;
  white-space: nowrap;
  border-radius:rem(50);    
  display: inline-block;
  font-family: $headings-font-family; 
}

.btn-outline-light {
  padding: rem(16) rem(59);
}

.btn-sm {
  color: $white;
  font-size: rem(19);
  line-height:rem(22);
  font-family: $headings-font-family; 
  font-weight:500;
  border-radius:rem(50);
  padding: rem(14) rem(42);    
  display: inline-block;
  &:hover, &:focus {
    background: linear-gradient(to right, $orange-light , $orange);
  }
}
.btn-success{
  color: $black;
  &:hover{
  color: $black;
  }
}
.btn-info{
  color: $black;
  &:hover{
  color: $black;
  }
}
.btn-alt {
  color: $blue;
  display: inline-block;
  border-radius:rem(50);
  font-size: rem(19);
  line-height:rem(22);
  padding: rem(12) rem(38);
  font-weight:500;
  background: transparent;
  border: 2px solid $blue;    
  display: inline-block;
  font-family: $headings-font-family; 
  &:hover,
  &:focus {
    border: none;
    background: linear-gradient(to right, $orange-light , $orange);
    padding: rem(14) rem(40);
    color: $white;
  }
}

.btn-on-color {
  display: inline-block;
  background: $white;
  color: $blue;
  font-size: rem(19);
  font-weight:500;
  line-height:rem(22);
  border-radius:rem(50);
  font-family: $font-family-base; 
  padding: rem(14) rem(42);
  text-align:center;
  display: inline-block;
  &:focus,
  &:hover {
    background: linear-gradient(to right, $orange-light , $orange);
    color: $white;
  }
}

.btn-alt-on-color {
  display: inline-block;
  padding: rem(14) rem(42);
  font-family: $headings-font-family; 
  border-radius:rem(50);
  font-size: rem(19);
  font-weight:500;
  line-height:rem(22);
  border: 2px solid $white;
  background-color: transparent;
  color: $white;
  text-align:center;    
  display: inline-block;
  &:focus,
  &:hover {
    border-color: $white;
    background-color: $white;
    color: $blue;
  }
}

.btn-wrap {
  margin-bottom: rem(25);
  @include display(flex);
  @include flex-wrap(wrap);
  @include align-items(center);
  > button,
  > a {
    margin: 0 rem(10) rem(20) 0;
  }
}

.btn-bg {
  width: rem(330);
  /*height: rem(88);*/
  max-width: 100%;
  background-color: $dark-grey;
  padding: rem(12) 0;
  display: inline-block;
  text-align: center;
  margin-bottom: rem(25);
  vertical-align: top;
  &.red-btn-bg {
    background-color: $dark-grey;
  }
  &:nth-of-type(2) {
    padding-top: rem(19);
  }
  @include media-breakpoint-up(lg) {
    margin: 0 rem(15) rem(20) 0;
  }
}


.btn-primary {
  background-color: $blue;
  border-color: $blue;    
  display: inline-block;
  &:hover {
    border-color: transparent;
    background: linear-gradient(to right, $orange-light , $orange);
    color: $white;
  }
}