/*Responsive Text Size*/
html {
  @include media-breakpoint-down(sm) {
    font-size: 88%;
  }
}

body {

  -webkit-font-smoothing: antialiased;
  word-break: break-word;

}

h1,h2,h3,h4,h5,h6 {
  
}


h1 {
  font-weight: 700;
}

h2,
.h2 {
  font-weight: 700;
}

h3,
.h3 {
  font-weight: 500;
}

h4,
.h4 {
  font-weight: 400;
}

h5,
.h5 {
  color: $dark-grey;
  font-weight: 500;
}

h6,
.h6 {
  color: $dark-grey;
  font-weight: 600;
}

p {
  
}

ul {
  list-style: none;
  padding-left: 0;
}

ul:not([class]) {
  clear: left;
  list-style-type: none;
  padding-left: 0;
  li {
    position: relative;
    padding-left: rem(12);
    font-weight: 500;
    color: $dark-grey;
    a {
      text-decoration: none;
      font-weight: normal;
    }
    &:after {
      content: '';
      width: 5px;
      height: 5px;
      display: block;
      position: absolute;
      top: rem(12);
      left: 0;
      background: $dark-grey;
      border-radius: 50%;
    }
    ul, ul:not([class]) {
      padding-left: rem(22);
      li, li:not([class]) {
        padding-left: rem(12);
        color: $light-gray;
        font-weight: 500;
        margin-bottom: rem(12);
        &:after {
          content: '';
          width: 5px;
          height: 5px;
          display: block;
          position: absolute;
          top: rem(12);
          left: 0;
          background: $light-gray;
          border-radius: rem(100);
        }
      }
    }
  }
}

iframe {
  max-width: 100%;
}

*[tabindex="0"]:not(input),
input[type="submit"],
button,
a {
  &:focus {
    outline: none;
  }

  &:focus:not(:active):not(:hover) {
    outline: 2px dashed red;
    outline-offset: 1px;
  }
}